/*
Author Name: Dream Line Production
Author Email: info@dreamlineproduction.in
Author URL: https://www.freelancer.com/u/AyanMukhopadhyay

NB: If changes don't apply, try adding "!important" For example:
.btn {
    color: blue !important;
}

*/


/********** Start Writing Your Own Custom CSS Code Here ***********/

.what-you-learn {
    background-color: rgb(241, 241, 241);
    padding: 25px;
    border-radius: 2px;
}

.what-you-learn ul {
    padding-left: 13px;
}

.what-you-learn ul li {
    margin-bottom: 8px;
}

.description {
    padding: 25px;
}

.course-content,
.description {
    margin-top: 40px;
    margin-bottom: 40px;
}

.accordion {
    margin-top: 5px;
}

.accordion .card {
    border: 1px solid #ababab;
}

.accordion .card h2 {
    background: url(../images/svg/caret-up-solid.svg) no-repeat calc(100% - 10px) center;
    background-size: 12px;
    cursor: pointer;
    font-size: 18px;
}

.accordion .card h2.collapsed {
    background-image: url(../images/svg/caret-down-solid.svg);
}

.course-content .card-head {
    padding: 20px;
    background-color: rgb(241, 241, 241);
}

.course-content .card-body {
    background-color: #f7f7f7;
}

.course-content-start {
    height: 600px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.fluid_video_wrapper {
    position: relative;
    display: inline-block;
    width: 100% !important;
    max-height: 700px !important;
    height: 650px !important;
}

.myaccordion {
    margin: 0px auto;
}

.myaccordion .card,
.myaccordion .card:last-child .card-header {
    border: none;
}

.myaccordion .card-header {
    border-bottom-color: #EDEFF0;
    background: transparent;
}

.myaccordion .fa-stack {
    font-size: 10px;
}

.myaccordion .btn {
    width: 100%;
    font-weight: bold;
    color: #004987;
    padding: 0;
}

.myaccordion .btn-link:hover,
.myaccordion .btn-link:focus {
    text-decoration: none;
}

.myaccordion li+li {
    margin-top: 10px;
}

.course-ul-content ul {
    margin-block-start: 0em;
    padding-inline-start: 0px;
}

.course-ul-content small {
    margin-top: 3px;
}

.course-navbar .collapse.navbar-collapse {
    overflow-x: inherit;
    overflow-y: inherit;
}

.hori-nav {
    display: inline-flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.hori-nav .progress {
    width: 100px;
}

.hori-nav .leave-rating {
    margin-right: 20px;
    vertical-align: middle;
    font-weight: 600;
    color: #000;
    margin-top: 13px;
    cursor: pointer;
}

.star-rating input {
    display: none;
}

.star-rating label {
    color: #ccc;
    cursor: pointer;
    font-size: 42px;
    margin-right: 10px;
    margin: auto;
    text-align: center;
}

.star-rating :checked~label {
    color: #f90;
}

.star-rating label:hover,
.star-rating label:hover~label {
    color: #fc0;
}