.post-new-card .card-body {
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 8%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  background: #fff;
  min-height: 470px;
}

.post-new-card .post-dtls {
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: auto;
}
